.wrap {
  .container {
    .filter-bar {
      .selector-group {
        .is-medal-verified-selector {
            .radio-group {
              display: flex;
              align-items: center;
              justify-content: space-around;

              .radio-label {
                font-size: 0.95em;
                color: $main-color;
                font-weight: bold;
                margin: 0 5px 0 5px;
              }
            }
        }
      }
    }
  }
}
