@import "./src/assets/css/basic/basic";

.wrap {
  .container {
    .filter-bar {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      width: 70vw;
      padding: 0 10px 0 10px;
      margin: 20px;
      height: 10%;

      @media (max-width: $squeeze-size) {
        flex-direction: column-reverse;
        @media (max-width: $squeeze-size) {
          label, select {
            font-size: small !important;
          }
        }
      }

      .selector-group {
        display: flex;
        align-items: center;
        justify-content: space-around;

        // .type-selector {
        //   @media (max-width: $pad-size) {
        //     display: none !important;
        //   }
        // }

      }

    }

    .medal-list {
      width: 90vw;
      border: $main-color 1px solid;
      border-radius: 10px;
      box-shadow: 3px 3px 12px $main-color;
      margin: 30px 0 0 0 ;

      @media (max-width: $pad-size) {
        display: none;
      }

      .table {
        @media (max-width: $squeeze-size) {
          font-size: smaller;
        }
        text-align: center;
        color: $main-color;

        tr {
          td {
            .upload-image, .upload-video {
              width: 100%;
              display: flex;
              justify-content: center;
              margin: 0;
      
              .upload {
                display: none;
              }
            }
          }
        }
      }

    }

    .medal-list-mobile {
      width: 100%;
      margin: 10px 0 0 0;
      display: none;
      overflow-y: auto;
      @media (max-width: $pad-size) {
        display: block;
      }

      .medal {
        border: $main-color 1px solid;
        border-radius: 5px;
        margin: 0 0 3px 0;

        .header {
          margin: 5px;
        }

        .medal-content {
          display: flex;
          margin: 5px;
          position: relative;

          .upload-image-video {
            @include centralize;
            position: absolute;
            right: 0;
            bottom: 0;
            .upload {
              display: none;
            }

            label {
              font-size: medium;
              margin: 5px 0 0 0;
            }
          }
        }

      }
    }
  }
}

