@import "./src/assets/css/basic/basic";

.wrap {
  .container {
    .filter-bar {

      .selector-group {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .type-selector {
          @media (max-width: $pad-size) {
            display: none !important;
          }
        }

        .my-prize-selector {
          .radio-group {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .radio-label {
              font-size: 0.95em;
              color: $main-color;
              font-weight: bold;
              margin: 0 5px 0 0;
            }
          }
        }

        .selector {
          margin: 10px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          .selector-label {
            width: 5em;
          }

          select {
            background-color: $white-color;
            color: $main-color;
            border-radius: 5px;
          }
        }
      }

      .button-group {
        display: flex;
        width: 100%;

        @media (max-width: $squeeze-size) {
          @include centralize;
        }

        @media (max-width: $pad-size) {
          display: none !important;
        }

        .default-button {
          margin: 0 10px 0 0;
        }
      }
    }

    .prize-list {
      width: 90vw;
      border: $main-color 1px solid;
      border-radius: 10px;
      box-shadow: 3px 3px 12px $main-color;
      margin: 30px 0 0 0 ;

      @media (max-width: $pad-size) {
        display: none;
      }

      .table {
        @media (max-width: $squeeze-size) {
          font-size: smaller;
        }
        text-align: center;
        color: $main-color;
        tr {
          td {
            .form-switch {
              @include centralize;
              .form-check-input {
                &:checked {
                  background-color: $main-color;
                }
                border-color: $main-color;
              }
            }
          }
        }
      }
    }

    .prize-list-mobile {
      width: 100%;
      margin: 10px 0 0 0;
      display: none;
      overflow-y: auto;
      @media (max-width: $pad-size) {
        display: block;
      }

      .prize {
        border: $main-color 1px solid;
        border-radius: 5px;
        margin: 0 0 3px 0;

        .header {
          margin: 5px;
        }

        .prize-content {
          display: flex;
          margin: 5px;
          position: relative;
        }

      }
    }
  }
}

